
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">AngularJA Proj-1</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/protfolio']">Protfolio</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/services']">Services</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/users']">User List</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/reactive']">Reative Form</a></li>
      <li routerLinkActiveOptions="{exact:true}" ><a  [routerLink]="['/']"  (click)="onLogin()" *ngIf="!this.authLogin.loggedIn">Login</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/login']"  (click)="onLogout()" *ngIf="this.authLogin.loggedIn">Logout</a></li>
      
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/protfolio']">Protfolio</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/services']">Services</a></li>
          </ul>
      </li>
      
      <li routerLinkActive="active"><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </div>
</nav>
