form{    padding: 25px;   background: #fff;   box-shadow: 0 0 4px #a79d9d;}
form input[type="text"], form input:not([type=radio]){border: 0; border-bottom: solid 1px #ddd; box-shadow: none;}
form button{width: 100%;   max-width: 400px;  margin: 0 auto;  display: block;  height: 40px;  font-size: 15px;  font-weight: bold;}
.login_con{width: 100%;    max-width: 380px;    padding: 15px;    box-sizing: border-box;    margin: 0;    box-shadow: 0 0 4px #ddd;    margin-top: 30px;    margin-bottom: 20px;    text-align: center;}
.login {margin-top: 0;}