form{    padding: 25px;   background: #fff;   box-shadow: 0 0 4px #a79d9d;}
form input[type="text"], form input:not([type=radio]){border: 0; border-bottom: solid 1px #ddd; box-shadow: none;}
form button{width: 100%;   max-width: 400px;  margin: 0 auto;  display: block;  height: 40px;  font-size: 15px;  font-weight: bold;}
h2{    font-size: 16px;   text-align: left;    display: block;   padding: 12px 0px;   margin: 100px auto 25px;    border-bottom: double 3px #000;}